@page "/quiz/login"
@inject QuizDbContext _db
@inject NavigationManager router
@attribute [Authorize(Roles = "User,HOC")]

<section class="container col-md-8 card" style="background-image:url('assets/img/portfolio/books-1.jpg'); margin-top:30px;">
    <div data-aos="zoom-out" >
        <EditForm Model="@quiz" OnSubmit="@Post" class="card-body">
            <h1><b>QUIZ LOGIN</b></h1><br />
            @if(val != null)
            {
                <p>@val</p>
            }
            <div class="col-md-6 form-group">
                <InputText @bind-Value="@Id" type="text" class="form-control form-control-lg" placeholder="ENTER QUIZ ID" required />
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0">
                <InputText @bind-Value="@Pwd" type="password" class="form-control form-control-lg" placeholder="ENTER PASSWORD" required />
            </div>
            <div align="center" class="col-md-6 form-group mt-3 mt-md-0">
               <button class="btn btn-info w-50" type="submit">SUBMIT</button>
            </div>
        </EditForm>
    </div>
</section>
@code {
    public PrivateQuiz quiz = new();
    public string Id;
    public string Pwd;
    public string val;
    async Task Post()
    {
        try
        {
            var req = await _db.PrivateQuiz.Where(x => x.QuizId == int.Parse(Id) && x.Visible == true).SingleAsync();
            if(req.Password.Equals(Pwd))
            {
                router.NavigateTo($"/quiz/instruction/{req.PrivateQuizId}");
            }
            else
            {
                val = "Password does not match";
            }

        }catch(Exception e)
        {
            Console.WriteLine(e);
        }
    }

}
