@page "/dashboard"
@inject ApplicationDbContext _db
@inject QuizDbContext _qd
@inject UserService _usr
@attribute [Authorize(Roles = "Lecturer")]
@inherits LayoutComponentBase
@inject NavigationManager router

<head>
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Variables CSS Files. Uncomment your preferred color scheme -->
    <link href="assets/css/variables.css" rel="stylesheet">
    <!-- <link href="assets/css/variables-blue.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/variables-green.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/variables-orange.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/variables-purple.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/variables-red.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/variables-pink.css" rel="stylesheet"> -->
    <!-- Template Main CSS File -->
    <link href="assets/css/main.css" rel="stylesheet">
</head>

<header id="header" style="background-color:white;" class="header fixed-top" data-scrollto-offset="0">
    <div class="container-fluid d-flex align-items-center justify-content-between">

        <a href="/dashboard" class="logo d-flex align-items-center scrollto me-auto me-lg-0">

            <p><h1>Ver<span>don</span></h1><sub><small class="text-dark">LECTURER</small></sub></p>
        </a>

        <nav id="navbar" class="navbar">
            <ul>

                <li class="dropdown">
                    <a href="#"><span>Quiz</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                        <li><NavLink href="/allquiz">All Quiz</NavLink></li>
                        <li><NavLink href="/add/quiz">Add Quiz</NavLink></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#"><span>Lecture</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                        <li><NavLink href="/alllecture">All Lecture</NavLink></li>
                        <li><NavLink href="/add/lecture">Add Lecture</NavLink></li>
                    </ul>
                </li>
                <li><NavLink class="nav-link scrollto" href="/socical">Socical</NavLink></li>



            </ul>
            <LoginDisplay />
            <i class="bi bi-list mobile-nav-toggle d-none"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

<section>
    <main id="main">
        <div class="container-fluid" data-aos="zoom-out">
            <h4>LECTURER DASHBOARD</h4>
            <div class="row">

                <div class="col-md-4 mb-4">
                    <div class="card border-start-success py-2">
                        <div class="card-body">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <div class="text-uppercase text-success fw-bold text-xs mb-1"><span>Lectures</span></div>
                                    <div class="text-dark fw-bold h5 mb-0"><span>@lectures.Count()</span></div>
                                </div>
                                <div class="col-auto"><i class="fas fa-book-reader fa-2x text-gray-300"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card border-start-success py-2">
                        <div class="card-body">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <div class="text-uppercase text-success fw-bold text-xs mb-1"><span> Quizzes</span></div>
                                    <div class="text-dark fw-bold h5 mb-0"><span>@quiz.Count()</span></div>
                                </div>
                                <div class="col-auto"><i class="fas fa-rocket fa-2x text-gray-300"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card border-start-info py-2">
                        <div class="card-body">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <div class="text-uppercase text-info fw-bold text-xs mb-1"><span>Storage (@(maxSpace / 1000)GB)</span></div>
                                    <div class="row g-0 align-items-center">
                                        <div class="col-auto">
                                            <div class="text-dark fw-bold h5 mb-0 me-3"><span>  @store MB </span></div>
                                        </div>
                                        <div class="col">
                                            <div class="progress progress-sm">
                                                <div class="progress-bar bg-info" aria-valuenow="50" aria-valuemin="0" aria-valuemax="@maxSpace" style="width: @((store * 100)/maxSpace)%;"><span class="visually-hidden">50%</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12 mb-4">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="text-primary fw-bold m-0">Storage Allocation</h6>
                        </div>
                        <div class="card-body">

                            <h4 class="small fw-bold">Lessons<span class="float-end">@((lesson * 100) / maxSpace) %</span></h4>
                            <div class="progress mb-4">
                                <div class="progress-bar bg-danger" aria-valuenow="20" aria-valuemin="0" aria-valuemax="@maxSpace" style="width: @((lesson * 100)/maxSpace)%;"></div>
                            </div>
                            <h4 class="small fw-bold">Assignments<span class="float-end">@((assig * 100) / maxSpace) %</span></h4>
                            <div class="progress mb-4">
                                <div class="progress-bar bg-warning" aria-valuenow="40" aria-valuemin="0" aria-valuemax="@maxSpace" style="width: @((assig * 100)/maxSpace)%;"></div>
                            </div>
                            <h4 class="small fw-bold">Resources<span class="float-end">@((resor * 100) / maxSpace) %</span></h4>
                            <div class="progress mb-4">
                                <div class="progress-bar bg-primary" aria-valuenow="60" aria-valuemin="0" aria-valuemax="@maxSpace" style="width: @((resor * 100)/maxSpace)%;"></div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>
</section>

           
@code{

    public List<Lecture> lectures = new();
    public List<PrivateQuiz> quiz = new();
    public string userId;
    public long store;
    public long lesson;
    public long assig;
    public long resor;
    public long maxSpace = 2000;
    protected override async Task OnInitializedAsync()
    {
        var e = await _usr.CurrentUser();
        userId = e.Id;
        if (e.MatricNo == null || e.Department == null || e.FirstName == null || e.LastName == null || e.Image == null)
            router.NavigateTo($"/profile");
        if(userId != null)
            await GetAll();
    }

    async Task GetAll()
    {
        try
        {
            lectures = await _db.Lecture.Where(x => x.UserId == userId)
            .Include(x => x.Lessons)
            .Include(x => x.Assignment)
            .Include(x => x.Resources )
            .ToListAsync();
            quiz = await _qd.PrivateQuiz.Where(x => x.UserId == userId).ToListAsync();
            lectures.ForEach(x =>
            {
                store = ((x.Lessons.Select(s => int.Parse(s.Size)).Sum() + 
                            x.Assignment.Select(s => int.Parse(s.Size)).Sum() 
                            + x.Resources.Select(s => int.Parse(s.Size)).Sum())/1024);
                lesson = (x.Lessons.Select(s => int.Parse(s.Size)).Sum())/1024;
                assig = (x.Assignment.Select(s => int.Parse(s.Size)).Sum())/1024;
                resor = (x.Resources.Select(s => int.Parse(s.Size)).Sum()/1024);
            });
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }
   }