@page "/libary"
@inject ApplicationDbContext _db
@inject UploadController _upload
@attribute [Authorize(Roles = "User,Admin")]

<div class="container" data-aos="zoom-out" style="margin-top:30px;">
    <h4>USER LIBARY</h4>
    <div class="col-md-8">
        <div class="card">
            <EditForm Model="book" class="card-body">
                 <div class="input-group">
                     <InputText @bind-Value="@value" class="bg-light form-control border-0 small" type="text" placeholder="Search for Book Name..."/>
                    <button class="btn btn-info py-0" type="button" @onclick="GetAll">
                         <i class="fas fa-search"></i></button>
                    <button style="margin-left:2px;" @onclick="Filter" class="btn btn-warning py-0" type="button">
                        <i class="fas fa-recycle"></i>
                    </button>
                </div><br />
                <div class="row">
                    <div class="mb-3 col-md-6" align="center">
                        <label>Department</label>
                        <InputSelect class="form-control" @bind-Value="@filter">
                            <option value="NULL" @onclick="Filter" selected>All</option>
                            @foreach (var item in departments)
                            {
                                <option value="@item.Name">@item.Name</option>
                            }
                        </InputSelect>

                    </div>
                    <div class="mb-3 col-md-6" align="center">
                        <label>Level</label>
                        <InputSelect class="form-control" @bind-Value="@level">
                            <option value="NULL" @onclick="Filter" selected>NULL</option>
                            @foreach (var item in new List<string> { "100", "200", "300", "400", "500", "600" })
                            {
                                <option value="@item">@item</option>
                            }
                        </InputSelect>

                    </div>
                </div>
                <strong align="center" class="col-md-6">@books.Count() books</strong>
            </EditForm>
         </div>
         <div class="card" style="margin:2px;">
            <div class="card-body">
               @if(books.Count() == 0)
               {
                   <p>No data available</p>
               }
               @foreach (var item in books)
               {
                    <div class="card" style="margin:2px;">
                        <div class="card-body">
                            <h5><a target="_blank" href="@item.File">@item.Name</a></h5>
                            @if (int.Parse(item.Image) >= 1024)
                            {
                                <small>@(int.Parse(item.Image) / 1024) MB</small>
                            }
                            @if (int.Parse(item.Image) < 1024)
                            {
                                <small>@item.Image KB </small>
                            }
                        </div>
                    </div>
                }

                
           </div>
         </div>
    </div>
 
</div>

@code {
    public Book book = new();
    public List<Book> books = new();
    public List<Department> departments = new();
    System.Timers.Timer aTimer = new System.Timers.Timer(1000);
    public int counter = 0;
    public int total;
    public string value;
    public string level;
    public string filter;


    protected override async Task OnInitializedAsync()
    {
        await GetAll();
        departments = await _db.Department.ToListAsync();
    }

    async Task Filter()
    {
        books  = await _db.Book.ToListAsync();
        value = null;
        filter = null;
        level = null;
    }

    async Task<List<Book>> GetAll()
    {
        books = await _db.Book.ToListAsync();

        if (filter != null && value != null && level != null)
        {
            books = await _db.Book.Where(x => x.Name.ToLower().Contains(filter.ToLower()) && x.Department.ToLower().Contains(value.ToLowerInvariant()) &&
            x.Level.ToString().Contains(level.ToLowerInvariant())).ToListAsync();
        }
        if (value != null)
        {
            books = await _db.Book.Where(x => x.Name.ToLower().Contains(value.ToLower())).ToListAsync();
        }
        if (filter != null)
        {
            books = await _db.Book.Where(x => x.Department.ToLower().Contains(filter.ToLower())).ToListAsync();
        }
        if (level != null)
        {
            books = await _db.Book.Where(x => x.Level.ToString().Contains(level)).ToListAsync();
        }

        return books;
    }

   
    public async Task Upload(InputFileChangeEventArgs args)
    {
        try
        {
            StartTimer();
            var file = args.File;
            book.Name = file.Name;
            book.Image = (file.Size / (1024)).ToString();
            book.File = $"wwwroot\\StaticFiles\\{file.Name}";
            await _upload.Upload(file);
        }
        catch(Exception e)
        {
            Console.WriteLine(e);
        }
    }

    public async Task Post()
    {
        try
        {
            await _db.Book.AddAsync(book);
            await _db.SaveChangesAsync();
            value = null;
            filter = null;
            books = await GetAll();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

    void StartTimer()
    {

        aTimer.Elapsed += CountDownTimer;
        aTimer.Enabled = true;
    }
    async void CountDownTimer(Object source, ElapsedEventArgs e)
    {
        if (counter < 25)
        {
            counter += 1;
        }
        else
        {
            aTimer.Enabled = false;
        }
        await InvokeAsync(StateHasChanged);
    }
}
