@page "/profile"
@using Verdon.Data
@using Verdon.Services
@inject ApplicationDbContext _db
@inject NavigationManager router
@inject UserService _usr
@inject UploadController _upload

<div class="row justify-content-center">
    <div class="col-md-9 col-lg-12 col-xl-10">
        <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
 
                    <div class="col-lg-10">
                        <div class="p-5">
                            <div class="text-center">
                                <h1>Ver<span style="color:rgb(43,187,208);">don.</span></h1>
                                <h4 class="text-dark mb-4">Edit Profile</h4>
                            </div>
                            <hr />

                            <div>
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-bs-toggle="tab" href="#tab-1">User</a></li>
                                    <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-2">Links</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" role="tabpanel" id="tab-1">
                                        <div class="row">
                                            <div class="col">
                                                <div class="card shadow mb-3">
                                                    <div class="card-header py-3">
                                                        <p class="text-primary m-0 fw-bold"> User Info </p>
                                                    </div>
                                                    <div class="card-body">
                                                        <EditForm Model="@user">
                                                            @if(user.Image != null)
                                                            {
                                                            <div class="col">
                                                                <img class="rounded-circle mb-3 mt-4" src="@user.Image" width="160" height="160" />
                                                            </div>
                                                            }
                                                            <div class="col">
                                                          <div class="form-group">
                                                        <InputFile OnChange="@Upload" type="file" class="form-control form-control-lg" />
                                                               </div>
                                                                </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <div class="mb-3">
                                                                        <label class="form-label"><strong>First Name</strong></label>
                                                                        <InputText @bind-Value="@user.FirstName" class="form-control" type="text"  />
                                                                    </div>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="mb-3">
                                                                        <label class="form-label"><strong>Middle Name</strong></label>
                                                                        <InputText @bind-Value="@user.MiddleName" class="form-control" type="text"  />
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col">
                                                                    <div class="mb-3">
                                                                        <label class="form-label"><strong>Last Name</strong></label>
                                                                        <InputText @bind-Value="@user.LastName" class="form-control" type="text"  />
                                                                    </div>
                                                                </div>
              
                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <div class="mb-3">
                                                                        <label class="form-label"><strong>Sex</strong>:&nbsp;@user.Sex&nbsp;</label>
                                                                        <InputSelect class="form-control" @bind-Value="@user.Sex">
                                                                            @foreach (var sex in new List<string> { "NULL", "MALE", "FEMALE" })
                                                                            {
                                                                                <option value="@sex">@sex</option>
                                                                            }
                                                                        </InputSelect>
                                                                    </div>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="mb-3">
                                                                        <label class="form-label"><strong>Department:&nbsp;@user.Department</strong></label>
                                                                        <InputSelect class="form-control" @bind-Value="@user.Department">
                                                                            @foreach (var item in departments)
                                                                            {
                                                                                <option value="@item">@item</option>
                                                                            }
                                                                        </InputSelect>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <div class="mb-3">
                                                                        <label class="form-label"><strong>Course Name</strong></label>
                                                                        <InputText @bind-Value="@user.CourseName" class="form-control" type="text"  />
                                                                    </div>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="mb-3">
                                                                        <label class="form-label"><strong>Matric No</strong></label>
                                                                        <InputText @bind-Value="@user.MatricNo" class="form-control" type="text"  />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <div class="mb-3">
                                                                        <label class="form-label"><strong>DOB</strong></label>
                                                                        <InputDate @bind-Value="@user.DOB" class="form-control" type="text" />
                                                                    </div>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="mb-3">
                                                                        <label class="form-label"><strong>Course</strong></label>
                                                                        <InputText @bind-Value="@user.Course" class="form-control" type="text" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="mb-3">
                                                                    <label class="form-label"><strong>Email</strong></label>
                                                                    <InputText @bind-Value="@user.Email" class="form-control" type="text" disabled="disabled" id="last_name" />
                                                                </div>
                                                            </div>
                                                            
                                                        </EditForm>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" role="tabpanel" id="tab-2">
                                        <div class="row">
                                            <div class="col">
                                                <div class="card shadow mb-3">
                                                    <div class="card-header py-3">
                                                        <p class="text-primary m-0 fw-bold"> Links </p>
                                                    </div>
                                                    <div class="card-body">
                                                        <EditForm Model="@user">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <div class="mb-3">
                                                                        <label class="form-label"><strong><i class="fa fa-github"></i> Github</strong></label>
                                                                        <InputText @bind-Value="@user.Github" class="form-control" placeholder="Paste link here..." type="text" />
                                                                    </div>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="mb-3">
                                                                        <label class="form-label"><strong><i class="fa fa-facebook"></i> Facebook</strong></label>
                                                                        <InputText @bind-Value="@user.Facebook" class="form-control" placeholder="Paste link here..." type="text" />
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col">
                                                                    <div class="mb-3">
                                                                        <label class="form-label"><strong><i class="fa fa-linkedin"></i> Linkedin</strong></label>
                                                                        <InputText @bind-Value="@user.Linkedin" class="form-control" placeholder="Paste link here..." type="text" />
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <div class="mb-3">
                                                                        <label class="form-label"><strong><i class="fa fa-twitter"></i> Twitter</strong></label>
                                                                    <InputText @bind-Value="@user.Twitter" class="form-control" placeholder="Paste link here..." type="text" />
                                                                    </div>
                                                               </div>           
                                                            </div>
                                                            <div class="col">
                                                                <div class="mb-3">
                                                                    <label class="form-label"><strong>Skills</strong></label>
                                                                    <InputTextArea @bind-Value="@user.Skills" class="form-control" type="text" />
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="mb-3">
                                                                    <label class="form-label"><strong>Bio</strong></label>
                                                                    <InputTextArea @bind-Value="@user.Bio" class="form-control" type="text" />
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="mb-3">
                                                                    <label class="form-label"><strong>Description</strong></label>
                                                                    <InputTextArea @bind-Value="@user.Description" class="form-control" type="text" />
                                                                </div>
                                                            </div>
                                                            
                                                             <div class="mb-3">
                                                            <a class="btn btn-primary w-100" href="Identity/Account/Manage">More settings</a>
                                                            </div>

                                                            <button @onclick="Post" class="btn btn-info w-100">Save Changes</button>
                                                          
                                                        </EditForm>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
       
            </div>
        </div>
    </div>
</div>

@code{
    public User user = new();
    public List<Department> departments = new();
    protected override async Task OnInitializedAsync()
    {
        user = await _usr.CurrentUser();
        departments = await _db.Department.ToListAsync();
    }

    async Task Post()
    {
        try
        {
            _db.User.Update(user);
            await _db.SaveChangesAsync();
            // router.NavigateTo("/Identity/Account/Login");
        }
        catch(Exception e)
        {
            Console.WriteLine(e);
        }
    }

    public async Task Upload(InputFileChangeEventArgs args)
    {
        try
        {
            if(user.Image != null)
            {
                File.Delete(user.Image);
            }
            var file = args.File;
            await _upload.Upload(file);
            user.Image = $"wwwroot\\StaticFiles\\{file.Name}";
            
        }
        catch(Exception e)
        {
            Console.WriteLine(e);
        }
    }
    

}

  
  





